html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    color: #000000; 
    min-width: 960px; 
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.top-navigation {
    color: #ffffff;
}

.button-green {
    color: #ffffff;
    background-color: #63a63e;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.top-navigation.button-green {
    padding-left: 0;
}

.button-green:hover {
    background-color: #5fbb2d;
}

.button-green:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.description {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    padding-left: 53px;
    padding-top: 3px;
    padding-right: 30px;
    width: 300px;
}

.header-contact {
    width: 300px;
}

.user-navigation {
    width: 300px;
    padding-left: 20px;
}

.top-navigation:active {
    opacity: 0.6;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    border: none;
    min-height: 38px;
    min-width: 220px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

a.button {
    padding-top: 10px;
}

header {
    background-color: #f3f7f8;
    font-size: 17px;
    line-height: 18px;
    min-height: 320px;
}

.header-top {
    background-color: #293449;
    height: 42px;
}

.header-top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bookmark {
    position: relative;
}

.bookmark::before {
    content: "";
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 12px;
    left: 16px;
    width: 14px;
    height: 16px;
    opacity: 0.3;
}

.cart {
    position: relative;
}

.cart::before {
    content: "";
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.bookmark:hover, .cart:hover, .search-form input:hover {
    background-color: #212a3a;
}

.bookmark:hover::before, .cart:hover::before {
    opacity: 1;
}

.bookmark:active, .cart:active {
    background-color: #161d29;
}

.bookmark:active::before, .cart:active::before {
    opacity: 0.5;
}

.button-red {
    background-color: #ee3643;
}

.button-red:hover {
    background-color: #ca2c37;
}

.button-red:active {
    background-color: #ba2732;
}

.search-form {
    width: 270px;
    position: relative;
    height: 42px;
}

.search-form input {
    background-image: url("../img/icon-search-light.svg");
    background-repeat: no-repeat;
    background-position: 18px 12px;
    background-color: transparent;
    background-size: 17px 17px;
    color: #ffffff;
    border: none;
    padding: 12px 0 11px 49px;
    width: 270px;
}

.search-form input::placeholder {
    color: #ffffff;
}

.search-form input:hover {
    background-image: url("../img/icon-search.svg");
}

.search-form input:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url("../img/icon-search-red.svg");
}

.logo {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover, .button:hover {
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}

.logo:active, .button:active {
    background-color: #ba2732;
    border-bottom-color: #8e1e26;
}

.top-navigation {
    min-width: 150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
}

.header-bottom {
    min-height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.phone {
    position: relative;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
    width: 270px;
    min-height: 45px;
    padding: 10px 20px 10px 71px;
}

.phone::before {
    content: "";
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
}

.adress {
    margin-top: 2px;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
}

.button-white {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;
    min-height: 45px;
    padding: 12px 20px;
}


.button-white:hover, .user a:hover, .modal-added .button-continue:hover {
    color: #ee3643;
}

.button-white:active, .user a:active, .modal-added .button-continue:active {
    color: rgba(0, 0, 0, 0.3);
}

.login {
    position: relative;
    margin-right: 10px;
    padding-left: 46px;
    width: 120px;
}

.register {
    width: 150px;
}

.login::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 13px;
    width: 20px;
    height: 17px;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.login:active::before {
    opacity: 0.3;
}

.main-navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    min-height: 55px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px 23px 0 21px;
}

.main-navigation a {
    color: #ffffff;
    padding: 16px 30px 18px;
}

.main-navigation a:hover {
    background-color: #293449;
}

.main-navigation a:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.company-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.company-columns h2, .services h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 500;
}

.company-columns p, .services p {
    margin-bottom: 25px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about {
    width: 540px;
}

.contacts {
    width: 300px;
}

/* .map {
    margin-top: 10px;
} */

.contacts p {
    width: 200px;
    margin: 0px;
    margin-bottom: 28px;
}

.about .button {
    margin-top: 15px;
}

.contacts .button {
    width: 100%;
    margin-top: 38px;
}

.cooperate {
    font-size: 18px;
    line-height: 20px;
    margin-top: -5px;
}

.cooperate li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}

.cooperate li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    top: 10px;
    left: 0;
}

.footer-top .container, .footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo-group {
    width: 380px;
    padding-right: 20px;
}

.footer-navigation {
    width: 560px;
}

.footer-top {
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 50px;
}

.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer, .footer a {
    color: #ffffff;
}

.footer .logo {
    height: 63px;
    margin-bottom: 33px;
}

.copyright {
    width: 240px;
}

.site-navigation {
    margin-top: 35px;
}

.site-navigation a:hover, .catalog-navigation a:hover {
    text-decoration: underline;
}

.site-navigation a:active, .catalog-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

.site-navigation, .catalog-navigation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.site-navigation li:not(:first-child), .catalog-navigation li:not(:first-child) {
    padding-left: 60px;
}

.social {
    display: flex;
    min-width: 160px;
    padding-left: 35px;
}

.social a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #212a3a;
    margin-right: 5px;
}

.social a:hover, .social a:active {
    background-color: #ee3643;
}

.social .vkontakte {
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social .facebook {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social .instagram {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.connection {
    display: flex;
    justify-content: space-between;
}

.connection p {
    width: 140px;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-navigation {
    margin-top: 39px;
}

.catalog-navigation a {
    color: #ffd180;
}

.connection a {
    color: #ffd180;
}

.developed {
    margin-left: 20px;
    padding-left: 25px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

.breadcrumbs li, .breadcrumbs a {
    color: #000000;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs li {
    margin-bottom: 10px;
}

.breadcrumbs li:first-child a {
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 12px;
}

.breadcrumbs li:not(:last-child) {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 20px;
    right: -11px;
}

.logout {
    display: block;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 17px;
    width: 45px;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.3;
}

.logout:hover, .profile:hover img {
    opacity: 1;
}

.logout:active, .profile:active img {
    opacity: 0.3;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-links {
    display: flex;
    margin: 7px 18px;
}

.user-links li {
    margin-right: 32px;
    position: relative;
}

.user-links li:first-child ::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #32425c;
    right: -20px;
    top: 8px;
}

.user-links a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.user-links a:hover {
    color: #ee3643;
}

.user-links a:active {
    color: rgba(50, 66, 92, 0.3);
}

.user {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #ffffff;
}

.profile {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;
    height: 45px;
    padding: 10px 0 px 10px 25px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.profile img {
    margin: auto 14px;
    opacity: 0.3;
}

.page-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
    padding: 30px 28px 29px 28px;
    margin-bottom: 20px;
    width: 940px;
}

.catalog {
    margin-left: 20px;
}

.catalog-content {
    display: flex;
}

.filters {
    width: 220px;
}

.filters h2, .sorting h2 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #f7f3ec;
    border-radius: 3px;
    padding: 10px 0;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 18px;
}

.filters h2 {
    margin-bottom: 11px;
}

.sorting {
    width: 700px;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.sorting-options {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
}

.sort {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sort:hover {
    color: rgba(0, 0, 0);
    border-bottom: 1px solid #ee3643;
}

.type{
    margin-left: 25px;
}

.function{
    margin-left: 20px;
}


.sort.active {
    color: #ee3643;
    border: none;
}

.sorting-arrows {
    width: 43px;
    display: flex;
    justify-content: space-between;
}

.min-max {
    background-image: url("../img/icon-up-dir-dark.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 11px 10px;
    width: 11px;
    height: 10px;
    border: none;
}

.min-max:hover {
    background-image: url("../img/icon-up-dir-dark.svg");
    opacity: 1;
}


.max-min {
    background-image: url("../img/icon-down-dir-dark.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 11px 10px;
    width: 11px;
    height: 10px;
    border: none;
}

.max-min:hover {
    background-image: url("../img/icon-down-dir-dark.svg");
    opacity: 1;
}

.sorting-arrows .active {
    background-image: url("../img/icon-up-dir-red.svg");
    opacity: 1;
}

.price-scale {
    width: 220px;
    height: 80px;
    background-color: #f7f3ec;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.line {
    width: 180px;
    height: 2px;
    background-color: #00ca74;
    position: relative;
}

.line::before {
    content: "";
    width: 20px;
    height: 22px;
    background-image: url("../img/filter-button.svg");
    position: absolute;
    top: -10px;
    left: 0px;
}

.line::after {
    content: "";
    width: 20px;
    height: 22px;
    background-image: url("../img/filter-button.svg");
    position: absolute;
    top: -10px;
    right: 0px;
}

.input-price {
    display: flex;
    justify-content: space-between;
}

.input-price input {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
    height: 38px;
    width: 95px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.input-price span {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding-top: 9px;
}

.catalog-items {
    width: 700px;
    position: relative;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.actions {
    display: none;
    position: absolute;
    top: 0;
    height: 170px;
    padding: 20px;
    width: 218px;
    background-color: #ffffff;
}

.actions a:not(:last-child) {
    margin-bottom: 11px;
}

.catalog-item {
    border: 1px solid #e5e5e5;
    width: 220px;
    min-height: 318px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.catalog-item:hover {
    box-shadow: -5px 10px 15px rgba(41, 52, 73, 0.2);
}

.catalog-item:hover .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-item h3 {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    order: 1;
    padding: 9px 30px;
    margin: 0;
    min-height: 40px;
}

.catalog-item del {
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: #999999;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    order: 2;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 9px;
}

.price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    order: 3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 38px;
    width: 140px;
    margin: auto auto 10px auto;
}

.price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.button-buy, .button-save {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-buy {
    background-color: #63a63e;
    box-shadow: 0 3px 0 #367315;
    padding-top: 3px;
    height: 35px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

.button-buy::before {
    content: "";
    background-image: url("../img/cart-icon.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 10px;
}

.button-buy:hover {
    background-color: #5fbb2d;
}

.button-buy:hover::before {
    opacity: 1;
}

.button-buy:active {
    background-color: #518534;
    box-shadow: 0 3px 0 #518534;
}

.button-save {
    border: 3px solid #63a63e;
    color: #32425c;
    text-transform: uppercase;
    background-color: #ffffff;
}

.button-save:hover {
    border: 3px solid #32425c;
    background-color: inherit;
}

.button-save:active {
    border: 3px solid rgba(50, 66, 92, 0.3);
    background-color: inherit;
    color: rgba(0, 0, 0, 0.3);
}
/* 
.new {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.new-show {
    display: block;
    z-index: 20;
} */

.new {
    position: relative;
}

.new::after {
    position: absolute;
    content: "";
    background-image: url("../img/new_flag.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 40px;
}

.pagination li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pagination a {
    padding: 9px 15px;
    border-radius: 3px;
    margin-right: 9px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
}

.pagination li:last-child a {
    padding: 9px 31px;
}

.pagination .active {
    background-color: #ee3643;
    border: 1px solid #ee3643;
    color: #ffffff;
}

.filter-button {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #ffffff;
    color: #000000;
    width: 140px;
    min-height: 38px;
    margin-top: 34px;
    cursor: pointer;
}

.pagination a:hover, .filter-button:hover {
    border: 1px solid #bdc6ca;
}

.pagination a:active, .filter-button:active {
    border: 1px solid #ee3643;
}

.filter-block {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
}

.filter-block legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 14px;
}

.filter-block li {
    padding-bottom: 20px;
    padding-left: 32px;
    position: relative;
}

.filter-block:not(:last-of-type)::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    position: absolute;
    bottom: -6px;
}

.checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 23px;
    height: 23px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

.checkbox input[type="checkbox"]:hover+.checkbox-indicator {
    border-color: #b5b5b5;
}

.checkbox input[type="checkbox"]:disabled+.checkbox-indicator {
    border-color: #b5b5b5;
    opacity: 0.3;
}

.checkbox input[type="checkbox"]:disabled~.checkbox-label {
    color: rgba(0, 0, 0, 0.3);
}

.checkbox input[type="checkbox"]:focus+.checkbox-indicator {
    border-color: #456fe2;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.checkbox input[type="checkbox"]:checked+.checkbox-indicator {
    background-image: url("../img/checkbox-on.svg");
    background-size: 25px 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 23px;
    border: none;
}

.checkbox input[type="checkbox"]:checked:hover+.checkbox-indicator {
    background-image: url("../img/checkbox-on-hover.svg");
    background-size: 25px 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 23px;
}

.radio-button input[type="radio"]+.radio-indicator {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 25px;
    height: 25px;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.radio-button input[type="radio"]:hover+.radio-indicator {
    border-color: #b5b5b5;
}

.radio-button input[type="radio"]:disabled+.radio-indicator {
    border-color: #b5b5b5;
    opacity: 0.3;
}

.radio-button input[type="radio"]:disabled~.radio-label {
    color: rgba(0, 0, 0, 0.3);
}

.radio-button input[type="radio"]:focus+.radio-indicator {
    border-color: #5778d3;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.radio-button input[type="radio"]:checked+.radio-indicator {
    background-image: url("../img/radio-on.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 25px;
    border: none;
}

.radio-button input[type="radio"]:checked:hover+.radio-indicator {
    background-image: url("../img/radio-on-hover.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 25px;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
    border-top: 7px solid #ee3643;
    color: #000000;
    background-color: #ffffff;
}

.button-close {
    position: absolute;
    top: 9px;
    right: 9px;
    border: none;
    background-color: transparent;
    width: 21px;
    height: 21px;
    padding: 0;
    cursor: pointer;
    z-index: 3;
}

.button-close::before, .button-close::after {
    content: "";
    width: 3px;
    height: 25px;
    background-color: #ee3643;
    position: absolute;
    left: 10px;
    top: -2px;
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.modal label {
    margin-bottom: 10px;
    font-size: 18px;
}

.modal p {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 220px;
}

.modal input, .modal textarea {
    padding-left: 10px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    border-radius: 3px;
    border: 2px solid #dee3e4;
}

.modal input::placeholder, .modal textarea::placeholder {
    color: #a9a9a9;
}

.modal-footer {
    background-color: #f4f4f4;
    width: 100%;
    padding: 37px 80px;
}

.modal-footer .button {
    border-radius: 3px;
    width: 100%;
}

.modal-map {
    display: none;
    border: none;
    margin-left: -470px;
    margin-top: -223px;
    height: 446px;
    width: 940px;
    background-color: none;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
  }
  
  .modal-map iframe {
    position: relative;
    z-index: 2;
    border: none;
  }

.modal-mail {
    display: none;
    width: 620px;
    min-height: 430px;
    margin-left: -310px;
    margin-top: -215px;
}

.modal-mail .fieldset {
    padding: 40px 80px 18px 80px;
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.modal-name {
    margin-right: 20px;
}

.modal input {
    height: 38px;
}

.message textarea {
    width: 460px;
    height: 115px;
    resize: none;
}

.modal-added {
    display: none;
    width: 620px;
    min-height: 282px;
    margin-left: -310px;
    margin-top: -141px;
    padding-top: 65px;
}

.modal-added h2 {
    position: relative;
    font-size: 30px;
    text-transform: none;
    font-weight: 400px;
    margin: 0;
    padding: 0 0 64px 175px;
    text-transform: uppercase;
}

.modal-added h2::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -17px;
    left: 80px;
    width: 66px;
    height: 66px;
}

.modal-added .modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-added .button {
    width: 220px;
}

.modal-added .button-continue {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

@keyframes bounce {
    0% {transform: translateY(-2000px);}
    70% {transform: translateY(30px);}
    90% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.modal-open {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
    20%, 40%, 60%, 80% {transform: translateX(5px);}
}
.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;

}

.about-product {
    background-color: #f2f6f8;
    padding: 40px 0 69px 0;
}

.about-product h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.about-product p {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.categories {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.categories li, .features li {
    width: 300px;
    height: 123px;
    padding: 21px 25px 20px 25px;
    position: relative;
}

.categories h3, .features h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 13px;
    margin-left: -3px;
}

.transparent-button {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    width: 135px;
    min-height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.transparent-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.materials {
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 213px 31px;
    background-size: 44px 65px;
}

.instruments {
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 196px 33px;
    background-size: 75px 61px;
}

.appliances {
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;
    background-size: 78px 62px;
}

.discount {
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 196px 26px;
    background-size: 59px 72px;
    margin-bottom: 20px;
}

.delivery {
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
    background-size: 78px 63px;
}

.slider {
    position: relative;
    margin-bottom: 53px;
}

.slider-content {
    position: absolute;
    top: 0;
    padding: 24px 20px 22px 25px;
    height: 220px;
}

.slider h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slider .backward {
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px 40px;
    width: 22px;
    height: 40px;
    cursor: pointer;
}

.slider .forward {
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 22px 40px;
    width: 22px;
    height: 40px;
    cursor: pointer;
}

.slider-content .button {
    min-width: 195px;
    height: 38px;
    border-radius: 3px;
    position: absolute;
    bottom: -24px;
}

.slider-content .action-navigation {
    position: absolute;
    top: 114px;
    width: 575px;
    display: flex;
    justify-content: space-between;
}

.main-blocks {
    display: flex;
    justify-content: space-between;
}

.producers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 66px;
    padding-top: 5px;
}

.producers li {
    margin-bottom: 20px;
}

.producers li:hover {
    box-shadow: -5px 10px 15px rgba(41, 52, 73, 0.2);
}

.producers li:active {
    box-shadow: -3px 5px 5px rgba(41, 52, 73, 0.2);
}

.producers a {
    display: flex;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
    height: 85px;
    padding: 0 24px 0 28px;
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.heading .button {
    height: 38px;
    width: 253px;
}

.services {
    background-color: #f4f8fa;
    padding-top: 65px;
    margin-bottom: 77px;
}

.column-description {
    width: 400px;
}

.services h3 {
    color: #32425c;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.services-options {
    width: 240px;
    position: relative;
}

.services-options::after {
    content: "";
    position: absolute;
    top: -46px;
    right: 0;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 10px 279px;
    width: 10px;
    height: 279px;
}

.services-slider {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.services-description {
    width: 620px;
    min-height: 285px;
    background-image: url("../img/services-1.png");
    background-repeat: no-repeat;
    background-position: 150px 23px;
    background-size: 468px 261px;
    padding-right: 5px;
}

.services-description p {
    width: 380px;
    margin: 0;
}

.first-service {
    background-image: url("../img/services-1.png");
    background-repeat: no-repeat;
    background-position: 150px 23px;
    background-size: 468px 261px;
}

.second-service {
    display: none;
    background-image: url("../img/services-2.png");
    background-repeat: no-repeat;
    background-position: 232px 0px;
    background-size: 389px 283px;
}

.third-service {
    display: none;
    background-image: url("../img/services-3.png");
    background-repeat: no-repeat;
    background-position: 155px 0px;
    background-size: 465px 285px;
}

.third-service .button {
    border-radius: 3px;
}

.services-options button {
    width: 240px;
    height: 61px;
    background-color: #32425c;
    border: none;
    padding-left: 20px;
    text-align: left;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.services-options button:hover {
    background-color: #293449;
}

.services-options .active {
    background-color: #ffffff;
    border: none;
    color: #293449;
}

.services-options .active:hover {
    background-color: #ffffff;
}
/* 

body {
    background-image: url("../img/technomart-catalog.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    filter: alpha(Opacity=50);
    opacity: 0.50;
} */